@charset "UTF-8";
@font-face {
    font-family: android;
    src: url(fontes/idroid.otf);
}

/*CORES: #C5EBD6, #83E1AD, #3DDC84, #2FA866, #1A5C37, #063D1E*/

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: rgb(245, 238, 230);
}

header {
    background-image: linear-gradient(to bottom, #2FA866, #1A5C37, #063D1E);
    text-align: center;
    min-height: 180px;
    padding-top: 30px;
}

#font-principal {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 2.8em;
    margin-bottom: 20px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.267);
}

#font-secundaria {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 1.2em;
    font-weight: 100;
    max-width: 500px;
    padding-right: 10px;
    padding-left: 10px;
    margin: auto;
}

nav {
    background-color: #063D1E;
    padding: 10px;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.192);
}

a {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 14px;
    text-decoration: none;
    padding: 10px;
    font-weight: bold;
}

a:hover {
    background-color: #1A5C37;
    border-radius: 10px;
    transition:  background-color 0.5s;
}

main {
    background-color: white;
    width: 1100px;
    box-shadow: 5px 0px 50px 5px rgba(0, 0, 0, 0.1);
    margin: auto;
    border-radius: 10px;
}

p {
    text-align: justify;
    font-size: 17px;
    text-indent: 30px;
}

h1, p {
    padding: 13px;
}

h1, h2 {
    font-family: android;
    color: #1A5C37;
}

main h2 {
    background-image: linear-gradient(to right, #C5EBD6, #83E1AD, transparent);
    padding-left: 13px;
}

img {
    display: block;
    margin: auto;
}

#video {
    background-color: #1A5C37;
    margin-top: 20px;
    margin-bottom: 40px;
    padding: 15px;
    padding-bottom: 35%;
    position: relative;
}

#video > iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

aside {
    background-color: #83E1AD;
    border-radius: 10px;
}

aside > h3 {
    background-color: #1A5C37;
    color: white;
    padding: 5px;
    margin: -10px 0px -10px 0px;
    border-radius: 10px 10px 0px 0px;
}

aside > ul {
    list-style-position: inside;
    columns: 2;
    text-indent: 10px;
}

footer {
    background-color: #063D1E;
    color: white;
    margin-top: 30px;
}

footer p {
    text-align: center;
}